---
import { cn } from "@lib/utils";

type Props = {
  href: string;
  external?: boolean;
  underline?: boolean;
};

const { href, external, underline = true, ...rest } = Astro.props;
---

<a
  href={href}
  target={external ? "_blank" : "_self"}
  class={cn(
    "inline-block decoration-black/15 dark:decoration-white/30 hover:decoration-black/25 hover:dark:decoration-white/50 text-current hover:text-light-text hover:dark:text-dark-text transition-colors duration-300 ease-in-out opacity-75 hover:opacity-100",
    underline && "underline underline-offset-2"
  )}
  {...rest}
>
  <slot />
</a>
